body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: 125px;
    background-color: #FF9C0F;
    -moz-box-shadow: 0px 2px 5px 0px #656565;
    -webkit-box-shadow: 0px 2px 5px 0px #656565;
    -o-box-shadow: 0px 2px 5px 0px #656565;
    box-shadow:0px 2px 50px 0px #656565; 
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

#container {
    width: 1100px;
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
}

#corps {
    width: 100%;
    background-color: white;
    -moz-box-shadow: 0px 2px 5px 0px #656565;
    -webkit-box-shadow: 0px 2px 5px 0px #656565;
    -o-box-shadow: 0px 2px 5px 0px #656565;
    box-shadow: 0px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#corps p
{
    padding: 5px;
    margin-left: 5px;
}

#corps a
{
    text-decoration: none;
    color: #0060EE;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#corps a:hover {
    text-decoration: underline;
    color: #247BFF;
}

#corps h1,h2
{
    text-align: center;
    margin-top: 0px;
}

#footer
{
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.7em;
}

#footer a
{
    text-decoration: none;
    color: #0060EE;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer a:hover
{
    text-decoration: underline;
    color: #247BFF;
}

#footer td
{
    /*border: 1px solid black;*/
}

/* --- Formulaires --- */
#corps .star_field:before {
    content: "* ";
    color: red; 
}

#corps .form .tr
{
    margin-top: 10px;
}

#corps .form td {
    padding-bottom: 10px;
}



#corps .input_readonly
{
    background: #ebebeb;
}

#corps .input_readonly:focus
{
    box-shadow: 0px 0px 0px 0px #a5a5a5;
    background: #ebebeb;
}

#corps input:focus
{
    box-shadow: 0px 0px 4px 0px #a5a5a5;
    background: #FFFF9D;
}

#corps fieldset {
    border-radius: 8px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-color: #B4B4B4;
    border-width: 2px;
    border-style: dotted solid double;
    background-color: white;
}


input[type="submit"] {
    padding: 8px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: inherit;
    width: inherit;
    font-size: 16px;
    font-weight: bold;
}